@if (!message) {

<!-- <app-phone-no></app-phone-no> -->

<!-- <app-code></app-code> -->


<!-- <div>
  <P>Enter your Email :</P>
  <input type="text" #email>
  <P>Enter your Password</P>
  <input type="text" #password>
  <br>
  <br>
  <button type="submit" (click)="login(email.value,password.value)">Login</button>
</div> -->


<!-- <div>
  <h2>Register</h2>

  <p>Enter your Name:</p>
  <input type="text" #name>

  <p>Enter your Email:</p>
  <input type="text" #email>

  <p>Enter your Phone No:</p>
  <input type="number" #phoneNo>

  <p>Upload Your Image:</p>
  <input type="file" (change)="onFileSelected($event)">

  <p>Enter your Password:</p>
  <input type="password" #password>

  <br><br>
  <button type="submit" (click)="register(name.value, email.value,phoneNo.value, password.value)">Register</button>
</div> -->

}
@else {
<app-dashboard></app-dashboard>
}